/*$font-family:(
    Abel: 'Abel, sans-serif',
    Courgette: 'Courgette, cursive',
    DancingScript: 'Dancing Script, cursive',
    Inter: 'Inter, sans-serif',
    Nunito: 'Nunito, sans-serif'
);*/

$fontfamilyAbel: 'Abel, sans-serif';
$fontfamilyCourgette: 'Courgette, cursive';
$fontfamilyDancingScript: 'Dancing Script, cursive';
$fontfamilyNunito: 'Nunito, sans-serif';

