body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1{
    font-size: 70px;
    font-family: "Marko One";
    margin: 0;
}

.img {
  background-image: url("C:/Gia/Web Posada/posada-web/src/assets/img/Casa_azul.jpg");
  height: 100vh;
  width: auto;
  background-size: cover;
  margin: 0;
}

.contenedor {
  width: 100%;
  margin-right: 30px;
}

.nav {
  margin: 30px 130px 0px;
  background-color: #91aec599;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

#logo {
  margin: 10px 0px 10px 70px;
  width: 150px;
  height: 55px;
}

li {
  list-style: none;
  background: #1e5077cc;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 50px;
  margin-right: 12px;
}

.lista {
  display: flex;
  width: 30%;
  margin-right: 100px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.titular {
  text-align: center;
  color: #1e5077;
  background: #ffffff9c;
  width: 880px;
  height: 400px;
  margin: 200px 520px;
}

@media (max-width: 1280px) {
    h1{
        font-size: 48px;
        font-family: "Marko One";
        padding: 20px 45px;
    }

    p{
        font-size: 20px;
        font-family: "Pompiere";
        margin: 30px 30px 15px;
        color: #000000;
    }

  .lista {
    display: flex;
    width: 40%;
    margin-right: 180px;
    justify-content: space-between;
  }

  .titular {
    text-align: center;
    color: #1e5077;
    background: #ffffff9c;
    width: 540px;
    height: 240px;
    margin: 100px 350px;
  }
}
