*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 70px;
    font-family: "Marko One";
    margin: 0;
}

/*.img {
  background-image: url("C:/Gia/Web Posada/posada-web/src/assets/img/Casa_azul.jpg");
  height: 50vh;
  width: auto;
  background-size: cover;
}*/

.contenedor {
  width: 100%;
  margin-right: 30px;
}

nav {
  margin: 30px 130px 0px;
  background-color: #91aec599;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.logo {
  margin: 10px 0px 10px 70px;
  width: 150px;
  height: 55px;
}

li {
  background: #1e5077cc;
  padding: 20px 20px;
  border-radius: 50px;
  margin-right: 12px;
}

li:hover{
  background: #47789e;
  transition: .5s;
}

.lista {
  display: flex;
  width: 30%;
  margin-right: 100px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.titular {
  text-align: center;
  color: #1e5077;
  background: #ffffff9c;
  width: 880px;
  height: 400px;
  margin: 200px 520px;
}

/*.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}*/

@media (max-width: 1280px) {
    h1{
        font-size: 48px;
        font-family: "Marko One";
        padding: 20px 45px;
    }

    p{
        font-size: 20px;
        font-family: "Pompiere";
        margin: 30px 30px 15px;
        color: #000000;
    }

    .img {
      height: 50vh;
    }

  .lista {
    display: flex;
    width: 40%;
    margin-right: 180px;
    justify-content: space-between;
  }

  .titular {
    text-align: center;
    color: #1e5077;
    background: #ffffff9c;
    width: 540px;
    height: 240px;
    margin: 100px 350px;
  }  
}
/*resposive para table*/
@media (max-width: 800px) {
}

/*resposive para mobil*/
@media (max-width: 800px) {  

  nav {
    margin: 0px 90px 0px;
    background-color: #91aec599;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
  }
 
  .contenedor {
    width: 20%;
    margin-right: 10px;
  }

.checkbtn{
 display: block;
}

.lista{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e5077;
  top: 80px;
  left: -30%;
}
}
