* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header{
  background-image: url("/public/assets/img/casa_azul2.png");
  height: 100vh;
  width: auto;
  background-size: cover;
  margin-top: -10px;
}

nav {
  background-color: #91aec599;
  height: 80px;
  width: 90%;
  margin: 10px 60px;
  border-radius: 50px;
}

.enlace {
  /*position: absolute;*/
  padding: 15px 50px;
}

.logo {
  height: 50px;
  margin-top: 15px;
}

nav ul {
  float: right;
  margin-right: 70px;
}

nav ul li {
  background: #1e5077cc;
  display: inline-block;
  line-height: 40px;
  margin: 10px 5px;
  padding: 10px;
  height: 60px;
  width: 104px;
  border-radius: 50px;
  text-align: center;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
}

li a:hover {
  background: #47789e;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 78px;
  margin-right: 80px;
  cursor: pointer;
  display: none;
  color: white;
}

#box{
  display: none;
}

section {
  text-align: center;
  color: #1e5077;
  background: #ffffff9c;
  width: 540px;
  height: 240px;
  margin: 170px 350px;
}

section h1 {
  font-size: 48px;
  font-family: "Marko One";
  padding: 20px 45px;
}

section p {
  font-size: 20px;
  font-family: "Pompiere";
  margin: 30px 30px 15px;
  color: #212025;
}

/*resposive para table*/
@media (max-width: 1002px) {
  nav {
    height: 60px;
    width: 96%;
    margin-left: 20px;
  }
  .enlace {
    /*position: absolute;*/
    padding: 15px 40px;
  }

  .logo {
    height: 40px;
    margin-top: 10px;
  }

  nav ul {
    margin-right: 40px;
  }

  nav ul li {
    line-height: 40px;
    margin: 5px 5px;
    padding: 5px;
    height: 50px;
    width: 90px;
    border-radius: 30px;
  }

  nav ul li a {
    font-size: 14px;
  }

  section {
    width: 480px;
    height: 240px;
    margin: 130px 230px;
  }
  
  section h1 {
    font-size: 35px;
    padding: 20px 35px;
  }
  
  section p {
    font-size: 18px;
    margin: 50px 20px;
  }
}

/*resposive para mobil*/
@media (max-width: 858px) {
  .checkbtn{
    display: block;
   }
}