.textoContacto h1 {
  text-align: center;
  color: #1e5077;
  font-size: 48px;
  font-family: "Marko One";
  padding: 40px 45px 15px;
}
.textoContacto p {
  text-align: center;
  font-size: 20px;
  font-family: "Pompiere";
  margin: 0px 300px 10px;
  color: #212025;
}
.ubicacion {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.mapUbicacion {
  width: auto;
  height: 460px;
  margin: 20px;
}
form {
  width: 460px;
  height: 460px;
  margin: 20px;
  background: #103c5dd6;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.form h2 {
  font-family: "Pompiere";
  text-align: left;
  color: #ffffff;
  margin: 20px 40px 5px;
}
.form h3 {
  font-family: "Arial", monospace;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
  margin: 0px 40px;
}

.form p {
  font-family: "Arial", monospace;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
  margin: 20px 40px;
}
.pCont{
  margin-top: 5px;
}


input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background: #2a506cbb;
  color: #e5e5e9;
  outline: none;
  resize: none;
  border: 0;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #8e8e91;
}
input:focus {
  border-bottom: 2px solid #e1e1e1;
}

input::placeholder,
textarea::placeholder {
  color: #b7b7b7;
}
p:before {
  content: attr(type);
  display: block;
  margin: 10px 0 0;
  font-size: 14px;
  color: #ffffff;
}

button {
  float: right;
  width: 82.5%;
  padding: 8px 12px;
  margin: 8px 40px 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  border-radius: 5px;
  background: 0;
  color: #d8d8d8;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #1e5077f5;
  color: #fff;
}

/*resposive para table*/
@media (max-width: 1002px) {
  .textoContacto h1 {
    font-size: 40px;
  }
  .form p {
    font-size: 18px;
  }
  .imgUbicacion {
    height: 370px;
    margin: 15px;
  }
  .form {
    width: 370px;
    height: 370px;
    margin: 15px;
  }
}

/*resposive para tablet2*/
@media (max-width: 800px) {
  .imgTarifas {
    height: 320px;
  }
  .form {
    width: 320px;
    height: 320px;
  }
}

/*resposive para mobil1*/
@media (max-width: 768px) {
  .textoContacto h1 {
    font-size: 35px;
  }

  .imgUbicacion {
    height: 280px;
  }
  .form {
    width: 280px;
    height: 280px;
  }
  .form p {
    font-size: 15px;
    margin: 0px 120px 25px;
  }
}

/*resposive para mobil2*/
@media (max-width: 650px) {
  .textoContacto h1 {
    font-size: 30px;
  }

  .ubicacion {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  .imgUbicacion {
    height: 320px;
    margin: 10px;
  }
  .form {
    width: 320px;
    height: 320px;
    margin: 10px;
  }
  .form p {
    margin: 0px 80px 25px;
  }
}

/*resposive para mobil3*/
@media (max-width: 365px) {
  .imgUbicacion {
    height: 250px;
  }
  .form {
    width: 250px;
    height: 250px;
  }
}
